@tailwind base;
@tailwind components;
@tailwind utilities;

.small-header-items-separator {
    background: linear-gradient(270deg, rgba(226, 255, 224, 0) 0%, #7FCE7A 49.48%, rgba(226, 255, 224, 0) 100%);
}

.html {
    margin: 0;
    scrollbar-width: thin;          /* For Firefox */
    scrollbar-color: #137054 #f0f0f0; /* For Firefox */
}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #137054;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

/*Date picker style*/

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker-popper {
    z-index: 50;
    width: 100%;
}
.react-datepicker {
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.react-datepicker__header {
    width: 100%;
    background-color: #00a86b;
    border-bottom: none;
}


.react-datepicker__current-month,
.react-datepicker__day-name {
    color: white; /* Ensure the current month and day names have white text color */
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
    background-color: #00a86b;
    color: white;
}

.react-datepicker__day--keyboard-selected {
    background-color: #34d399;
    color: white;
}



@layer utilities {
    .shadow-green {
        box-shadow: -100px 100px 150px 0px rgba(54, 180, 140, 0.2);
    }

    .shadow-calc {
        box-shadow: -75px 75px 150px 0px rgba(19, 112, 84, 1);
    }

    .calc-btn {
        box-shadow: -30px 30px 50px 0px rgba(0, 0, 0, 0.25);
    }

    .sm-features {
        box-shadow: 0px 0px 100px 0px #7fce7a66;
    }

    .contactus-vector {
        box-shadow: -25px 25px 100px 0px #7fce7a80;
    }

    .auth-card {
        box-shadow: -100px 100px 150px 0px rgba(0, 38, 58, 0.2);
        border: 1px solid;
        border-image-source: linear-gradient(319.55deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        background: linear-gradient(139.55deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.7) 100%);

    }

}
.circle {
    background: #ffffff;
    /* Your desired background color */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
}

.indicators {
    display: flex;
    border: 1px solid darkgreen;
}

.indicator {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}

.active.indicator {
    background: #137054;
}

.prev-button,
.next-button {
    margin: 10px;
    padding: 10px 20px;
    background: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
}


.footer-border-radius {
    border-top-left-radius: 3rem;
    /* Set your desired radius value here */
    border-top-right-radius: 3rem;
    /* Set your desired radius value here */
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust height for desired gradient coverage */
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

/* Customize the slider track (the line) */
input[type="range"] {
    -webkit-appearance: none; /* Removes default appearance */
    width: 100%;
    height: 1px; /* Adjust height as needed */
    background-color: #EFFFEE80 /* Your desired track color */;
    outline: none;
}

/* Customize the slider point (thumb) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px; /* Adjust the size of the thumb */
    height: 12px;
    background: white;
    border-radius: 50%; /* For a circular shape */
    cursor: pointer;
    box-shadow: white /* Optional: add a shadow effect */;
}

/* Styling on focus (Optional) */
input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2px solid greenyellow /* Your desired focus outline color */;
}


.authCardbg {
    background: linear-gradient(319.55deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%),
    linear-gradient(139.55deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.7) 100%);
}

.transactions-table{
    box-shadow: -100px 100px 200px 0px rgba(0, 38, 58, 0.2);
}

.homeNav{
    box-shadow: 0px 35px 30px 0px rgba(0, 0, 0, 0.1);

}

.card{
    background: linear-gradient(139.55deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.7) 100%);
    border: 1px solid;

    border-image-source: linear-gradient(319.55deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);

    box-shadow: -100px 100px 150px 0px rgba(0, 38, 58, 0.2);

}